main {
    width: 100%;
    display: flex;
}

.container-menu {
    width: 30%;
}
.menu{
    display: none;
}
.menu.open{
    display: block;
}
.container {
    width: 70%;
    background-color: #0f6674;
    height: 300px;
    padding: 10px;
}

.btn {
    display: block;
    margin-left: auto;
    width: 50px;
    height: 50px;
    background-image: url("png-clipart-computer-icons-menu-menu-button-angle-text.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: 1px solid red;
}

li {
    list-style: none;
}

.d-none {
    display: none;
}